/*all*/
body{
    background-color: black;
    margin:0px;
}

img{
    max-width:100%; /*images won't spill out of parent*/
}

/*header*/
.nav-logo{
    width: 80px;
}

.toggle-icon {
    width: 40px;
    float:right;
}

nav ul{
    background-color: white;
    color: black;
    padding-left:0px;
    list-style: none;
}

/*main*/