/*all*/
body{
    background-color: black;
    margin:0px;
    font-family: 'Abel', sans-serif;
}

img{
    max-width:100%; /*images won't spill out of parent*/
}

/*header*/

header{
    margin-top: 0px;
}

.nav-logo{
    width: 60px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.toggle-icon {
    width: 40px;
    float:right;
    padding-top: 25px;
    padding-right:20px;
}

nav ul.nav-links{
    background-color: white;
    color: black;
    padding:20px;
    list-style: none;
    margin:0px;
    display:none;
}

nav ul.nav-links:hover{
    color: grey;
}

#toggleCheck:checked + .nav-links{
    display:block;
}

#toggleCheck{
    display:none;
}


/*main*/

h1{
    color:white;
    text-align: center;
    font-family: 'Azeret Mono', monospace;
}

#big-image{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    display:block;
}

.body-copy, .body-copy2{
    padding:10px;
    color: white;
}

.baby-images{
    padding-top: 20px;
    display:flex;
    justify-content: space-around;
}

.babies{
    width:100px;
    border-radius: 50px;
}

.introab{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

/*footer*/

footer{
    padding-top: 25px;
    color:lightgrey;
    text-align: center;
    padding-bottom: 10px;
}


/*responsive*/

/*iPad*/
@media (min-width:768px){
    /*when your screen is at lest iPad size... apply different CSS*/

    /*header*/

    header{
        background-color: white;
        margin-bottom: 55px;
    }

    /*get rid of toggle icon*/
    .toggle-icon{
        display: none;
    }

    .nav-logo{
        padding-left:20px;
    }
    
    /*line up with logo at header top*/
    nav ul.nav-links{
        float: right;
        margin-top: 15px;
        display: block;
        padding-right: 40px;
        text-decoration: none;
        color:black;
    }

    nav ul.nav-links:visited{
        color: black;
        text-decoration: none;
    }

    /*make nav bar elements next to eachother horizontally*/
    nav ul li{
        display: inline-block;
        margin: 0px 5px;
    }

    /*main*/

    /*when reach iPad size we have a single column of fixed size*/
    main{
        width: 730px;
        margin: auto;
    }

    #big-image{
        max-width: 50%;
        margin-right: 15px;
    }

    .homeintro{
        display:flex;
        margin-top: 50px;
    }

    .baby-images{
        padding-top: 70px;
        display:flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    #bab1{
        margin-right:45px;
    }

    #bab2{
        margin-left:45px;
    }

    .babies{
        width: auto;
        max-width:30%;
        border-radius: 50%;
    }

    .introab{
        border-radius: 50%;
        max-width: 70%;
        margin-bottom: 40px;
    }

    .body-copy2{
        max-width:  45%;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    /*footer*/

    footer{
        padding-top:20px;
        padding-bottom: 40px;
    }

}


/*laptop*/
@media (min-width:1240px){
    /*when your screen is at least laptop size... apply different CSS*/

    /*header*/

    header{
        margin-bottom: 75px;
        padding-top:15px;
        padding-bottom:15px;
    }

    .nav-logo{
        padding-left:40px;
    }
    
    /*line up with logo at header top*/
    nav ul.nav-links{
        float: right;
        margin-top: 15px;
        display: block;
        padding-right: 100px;
        color:black;
    }

    nav ul.nav-links:visited{
        color: black;
    }


    /*main*/

    /*when reach iPad size we have a single column of fixed size*/
    main{
        width: 980px;
        margin: auto;
    }

    #big-image{
        max-width: 50%;
        margin-right: 25px;
    }

    .body-copy{
        max-width:25%;
        margin:auto;
    }

    .homeintro{
        margin-top: 80px;
    }

    .baby-images{
        padding-top: 95px;
        margin-bottom: 60px;
    }

    .introab{
        max-width: 60%;
        margin-bottom: 60px;
    }

}

